@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
html {
    min-height: 100%;
    padding-bottom: 74px;
    position: relative;
}

#productsArea {
    margin-bottom: 30px;
}

.product {
    margin: 0 auto;
    border-bottom: 2px gray;
    text-align: center;
}

.product_weight_input {
    width: 80%;
    outline: 0;
    background-color: rgba(142, 198, 63, 0);
    border: 0;
    border-bottom: 2px solid white;
    color: white;
    font-size: 18px;
    font-family: 'Playfair Display';
    text-align: center;
}

.product_weight_input::-webkit-input-placeholder {
    color: #c0392b;
    font-size: 14px;
    font-weight: bold;
}

.product_weight_input::-moz-placeholder {
    color: #c0392b;
    font-size: 14px;
    font-weight: bold;
}

.product_weight_input:-moz-placeholder {
    color: #c0392b;
    font-size: 14px;
    font-weight: bold;
}

.product_weight_input:-ms-input-placeholder {
    color: #c0392b;
    font-size: 14px;
    font-weight: bold;
}

.product p {
    font-family: 'Playfair Display';
    font-weight: bold;
    white-space: nowrap;
    font-size: 18px;
}

.container.footer {
    height: 74px;
    text-align: center;
}

#calculate_calories {
    background-color: antiquewhite;
    border: 0;
    border-bottom: 2px solid white;
    color: black;
    font-size: 18px;
    font-family: 'Playfair Display';
    text-align: right;
    margin-right: 10px;
}

#calculate_calories::-webkit-input-placeholder {
    color: gray;
    font-size: 14px;
    font-weight: bold;
}

#calculate_calories::-moz-placeholder {
    color: gray;
    font-size: 14px;
    font-weight: bold;
}

#calculate_calories:-moz-placeholder {
    color: gray;
    font-size: 14px;
    font-weight: bold;
}

#calculate_calories:-ms-input-placeholder {
    color: gray;
    font-size: 14px;
    font-weight: bold;
}

.send {
    margin-left: 10px;
}

.stub_for_input {
    background-color: gray;
    height: 50px;
}

.product-image {
    height: 255px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.wrap:hover {
    background-color: rgba(0, 198, 63, 0.9);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.wrap:hover:before {
    content: "\f067";
    font: normal 36px/1.1 FontAwesome;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -14px;
    margin-top: -20px;
}

.wrap.focused {
    background-color: rgba(142, 198, 63, 0.9);
    padding-top: 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.wrap.focused:hover {
    background-color: rgba(0, 198, 63, 0.9);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.wrap.focused:hover:before {
    content: "";
    font: normal 36px/1.1 FontAwesome;
    color: white;
}

.product_weight_input {
    padding: 5px 15px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    left: 50%;
    width: 100%;
    transform: translateY(-50%) translateX(-50%);
}

.container.footer {
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: antiquewhite;
    width: 100%;
}

.fa-plus {
    visibility: hidden;
}

.fa-plus:hover {
    visibility: hidden;
}

@media (max-width: 768px) {
    .container {
        padding: 0;
    }
}